<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".Apps.MerchApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PracticaFinal">
        <activity
            android:name=".Activitats.CartActivity"
            android:exported="false" />
        <activity
            android:name=".Activitats.ProductFormActivity"
            android:exported="false" />
        <activity
            android:name=".Activitats.CreatorDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Activitats.StoreActivity"
            android:exported="false" />
        <activity
            android:name=".Activitats.ViewerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Activitats.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitats.ViewerLoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activitats.StreamerLoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>